/* Header */

.rowTopheader{
    padding: var(--padding--primary) 0;
    box-sizing: border-box;
}
.img-logo{
    width: 100px;
    height: 100px;
}
.colTopHeader-logo_name{
    font-size: 20px;
    margin: 0;
}
.colTopHeader-login-imagesLogin{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-login{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.topHeaderLogin-title{
    margin-left: 20px;
    cursor: pointer;
    position: relative;
}
.topHeaderLogin-title:hover .topHeaderLogin_form{
    display: block;
}
.topHeaderLogin_form{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-chudao);
    border-radius: 3px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 2;
    display: none;
    border: 1px solid white;
}
.topHeaderLogin_form::after{
    content: '';
    position: absolute;
    top: -15px;
    right: 0;
    border-width: 10px;
    border-color: transparent transparent var(--color-chudao) transparent;
    border-style: solid;
    z-index: -1;

}
.topHeaderLogin_form-item{
    padding: 5px 20px;
    color: white;
}
.topHeaderLogin_form-item:first-child{
    border-radius: 3px 3px 0 0;
}
.topHeaderLogin_form-item:last-child{
    border-radius: 0 0 3px 3px;
}
.topHeaderLogin_form-item:hover{
    background-color: var(--color--hover);
}
/* nav */
.nav{
    background-color: var(--color-easybg);
    padding: 20px 0;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.navItem{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navItemLink{
     cursor: pointer;
     color: #6E6E6E;
     font-size: 1.2rem;
     text-transform: uppercase;
}
.navItemLink a{
    text-decoration: none;
}
.navMenu{
    width: 50px;
    padding: 10px 5px;
    display: none;
}
.itemIconMenu{
    display:block;
    width: 100%;
    height: 2px;
    margin: 4px 0;
    border-top:  2px solid white;
}
.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.showMenu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60%;
    background-color:var(--color-chudao);
    border: 0 10px 10px 0;
    display: none;
    z-index: 1;
    
}
.closeIcon{
    text-align: right;
    color: white;
    margin: 10px;
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
}
.navItemRes{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.NavItemLinkRes{
    cursor: pointer;
    padding: 10px 0 20px 20px;
    font-size: 20px;
     color: white;
}
.NavItemLinkRes a{
    text-decoration: none;
}
@media screen and (max-width:376px) {
    .navMenu{
        display: block;
    }
    .navItem{
        display: none;
    }
}
@media screen and (min-width : 377px) and (max-width : 768px){
    .navMenu{
        display: block;
    }
    .navItem{
        display: none;
    }
}

/*main*/
.img-fouder{
    width: 10rem;
    padding-top: 50%;
}
.contentSpecifically{
    text-align: center;
    padding-top: 3rem;
}
.contentSpecifically h3{
    border: 0.1rem solid thistle;
    border-radius: 2rem;
}
.img-memory{
    width: 100%;
    height: 15rem;
}
.middle{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #6E6E6E;
    justify-content: center;
    padding: 3rem;
    text-transform: uppercase;  
}
.textContent h3{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: teal;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    border: 0.1rem solid wheat;
    border-radius: 2rem;
}
.borderRight{
    border-right:0.1rem solid thistle;
    position: relative;
    border-left:0.1rem solid thistle;
    top: 0;
}
.middle h2{
    border: 0.1rem solid thistle;
    border-radius: 2rem;
}
.bodyCustomer{
    margin-right:1.3rem ;
    padding-bottom: 3rem;
}
.img-member{
    width: 5rem;
}
.main-Right{
    justify-content: center;
    padding-left: 20%;
    position: relative;
    top: -15rem;
}
.noteMain{
    border: 0.1rem solid thistle;
    border-radius: 1rem;
}
main{
     background: #FAFAFA;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.4;
    border-bottom: 0.1rem solid cadetblue;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-transform: uppercase;
}
@media screen and (min-width:768px)
{
   .img-fouder{
       width: 15rem;
  }
}

@media screen and (min-width:280px)
{
   .img-fouder{
       width: 15rem;
   }
   main{
    display: block;
   }
}

/* content */
.Content{
    background: rgb(245, 241, 241);
    padding: 10px 0 50px 0;
}
@media screen and (max-width : 376px){
    .Content{
        padding: 20px 0;
    }
}
@media screen and (min-width : 377px) and (max-width : 768px){
    .Content{
        padding: 20px 0;
    }
}


/* footer */
.footer{
    height: 100px;
    width: 100%;
    background-color: var(--color-easybg);
}
.footerInfor{
    line-height: 100px;
    text-transform: uppercase;
    color: #6E6E6E;
    text-align: center;
}
